# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore
*.env
*.env.example
*.env.production

# Databases
data/

# Development Environment
*.code-workspace
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
